@using Compressarr.JobProcessing;
@using Compressarr.Pages.Services;

@inject IJobManager jobManager
@inject ILayoutService layoutService
<div class="job">
    <div class="jobTitle">
        <h3 @onclick="() => { expand = !expand; }">
            <img src="@FilterImageSrc" />@job.FilterName
            <i class="fas fa-arrow-right"></i>
            @job.PresetName
            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
            @job.BaseFolder
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
            @job.WriteFolder
            @if (!expand)
            {
                @: -
                @buttonText
            }
        </h3>
        <div class="commands">
            @if (expand)
            {
                @if (editJob)
                {
                    <button @onclick="saveJob"><i class="fas fa-save"></i></button>
                    <button @onclick="deleteJob"><i class="fas fa-trash-alt"></i></button>
                }
                <button @onclick="() => { editJob = !editJob; }"><i class="fas fa-edit"></i></button>
            }
        </div>
    </div>
    @if (expand)
    {
        if (editJob)
        {
            <div class="editJob">
                <h3>Edit</h3>
                <div class="editJobWrapper">
                    <div class="input-group">
                        <label class="col-form-label">Base Folder:</label>
                        <div class="">
                            <DirectoryLookup @bind-Folder="@job.BaseFolder"></DirectoryLookup>
                        </div>
                    </div>

                    <div class="input-group">
                        <label class="col-form-label">Destination Folder:</label>
                        <div class="">
                            <DirectoryLookup @bind-Folder="@job.DestinationFolder"></DirectoryLookup>
                        </div>
                    </div>

                    <div class="input-group">
                        <label class="col-form-label">Automatically Import:</label>
                        <div class="">
                            <input type="checkbox" @bind="job.AutoImport" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            @if (job.WorkLoad != null)
            {
                <div class="workLoad">
                    <h4>Workload</h4>
                    <div class="workLoadItems">
                        @foreach (var wi in job.WorkLoad)
                        {
                            <div class="workitem">
                                <span class="fileName">@wi.SourceFileName</span>
                                @if (wi.Running)
                                {
                                    <span class="badge-pill badge-secondary">@wi.Percent%</span>
                                    <span class="badge-pill badge-secondary">Frame: @wi.Frame</span>
                                    <span class="badge-pill badge-secondary">FPS: @wi.FPS</span>
                                    <span class="badge-pill badge-secondary">Q: @wi.Q</span>
                                    <span class="badge-pill badge-secondary">Size: @wi.Size</span>
                                    <span class="badge-pill badge-secondary">Time: @wi.Duration</span>
                                    <span class="badge-pill badge-secondary">Length: @wi.TotalLength</span>
                                    <span class="badge-pill badge-secondary">Bitrate: @wi.Bitrate</span>
                                    <span class="badge-pill badge-secondary">Speed: @wi.Speed</span>
                                }
                                <span class="badge-pill badge-secondary">Finished: @wi.Finished</span>
                                @if (wi.Finished)
                                {
                                    <span class="badge-pill badge-secondary">Success: @wi.Success</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
            <div class="jobLog">
                <h4>Log</h4>
                <div class="jobEventsScrollWrapper">
                    <div class="jobEvents">
                        @foreach (var e in job.Events)
                        {
                            <div class="event @e.Level">
                                @e.Date.ToString("HH:mm:ss") - @e.Message
                            </div>
                        }
                    </div>
                </div>
            </div>
            <button class="btn btn-block @buttonClass" @onclick="startJob" @onmouseover="() => { mouseOnButton = true;  }" @onmouseout="() => { mouseOnButton = false;  }">@buttonText</button>
        }
    }
</div>

@code {
    [Parameter]
    public Compressarr.JobProcessing.Models.Job job { get; set; }

    private bool expand;
    private bool editJob;
    private bool mouseOnButton;

    private string fileCount;

    private string testingStatus;

    private string FilterImageSrc => $"https://raw.githubusercontent.com/{FilterType}/{FilterType}.github.io/master/logo/{FilterType}.svg";

    private string FilterType => job?.Filter?.MediaSource == Filtering.MediaSource.Radarr ? "radarr" : "sonarr" ?? "";

    private string buttonText
    {
        get
        {
            switch (job.JobState)
            {
                case JobState.Added:
                    return "Initialising";
                case JobState.Running:
                    return mouseOnButton ? "Stop" : "Running";
                case JobState.Finished:
                    return mouseOnButton ? "Re-Initialise" : "Finished";
                case JobState.TestedFail:
                    return mouseOnButton ? "Re-Initialise" : "Test Failed";
                case JobState.TestedOK:
                case JobState.Waiting:
                    return mouseOnButton ? "GO!" : "Ready";
            }

            return "";
        }
    }

    private string buttonClass
    {
        get
        {
            switch (job.JobState)
            {
                case JobState.Added:
                case JobState.Running:
                case JobState.TestedFail:
                    return "btn-warning";

            }

            return "btn-success";
        }
    }

    private bool running => job.JobState == JobState.Running;

    private bool? Ok;

    protected override void OnInitialized()
    {
        job.StatusUpdate += jobStatusUpdate;

        //This should be done on startup
        //if (job.JobStatus == JobStatus.Added)
        //{
        //    jobManager.InitialiseJob(job);
        //}
    }

    private void jobStatusUpdate(object caller, EventArgs args)
    {
        InvokeAsync(() => StateHasChanged());
    }

    private async void saveJob()
    {
        using (layoutService.Working("Saving..."))
        {
            await jobManager.AddJob(job);
            editJob = false;
            StateHasChanged();
        }
    }

    private async void deleteJob()
    {
        using (layoutService.Working("Deleting..."))
        {
            await jobManager.DeleteJob(job);
            StateHasChanged();
        }
    }

    private void startJob()
    {
        switch (job.JobState)
        {
            case JobState.TestedOK:
            case JobState.Waiting:
                {
                    jobManager.RunJob(job);
                }
                break;
            case JobState.TestedFail:
            case JobState.Finished:
                {
                    jobManager.InitialiseJob(job, true);
                }
                break;
            case JobState.Running:
                {
                    jobManager.CancelJob(job);
                }
                break;
        }
    }
}
