@page "/radarr"

@inject IRadarrService radarrService
@inject IFilterManager filterManager
@inject IJobManager JobManager
@inject ILayoutService layoutService
@inject IDialogService DialogService
@inject IApplicationService applicationService

<MudPaper id="divRadarr" Elevation="0">
    <MudCardActions Class="px-4">
        <MudSpacer />
        <MudButton StartIcon="@Icons.Outlined.MovieCreation" Color="Color.Secondary" Class="mt-6 mr-4" OnClick="@(() => radarrService.GetMoviesAsync(true))">Refresh</MudButton>

        <div class="mud-input-control-input-container">
            <div class="mud-input mud-input-text mud-input-underline mud-shrink">
                <select @bind="filterID" class="mudReplacement" required>
                    @foreach (var filter in filterManager.GetFilters(MediaSource.Radarr))
                    {
                        <option value="@filter.ID">@filter.Name</option>
                    }
                </select>
            </div>
        </div>

    </MudCardActions>
    @if (!string.IsNullOrWhiteSpace(AlertMessage))
    {
        <MudAlert Severity="Severity.Error">@AlertMessage</MudAlert>
    }


    <MudPaper Class="my-2 filterList">
        <table class="filterTableWrapper">
            <thead valign="baseline">
                <tr>
                    <th class="hide">
                    </th>
                    <th>
                        <div class="mud-input-control mud-input-input-control">
                            <div class="mud-input-control-input-container">
                                <div class="mud-input mud-input-text mud-input-underline mud-shrink">
                                    <select @bind="filterPropertyStr" class="mudReplacement" required>
                                        @foreach (var fp in filterManager.RadarrFilterProperties.OrderBy(f => f.Key))
                                        {
                                            <option value="@fp.Value">@fp.Key</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="mud-input-control mud-input-input-control">
                            <div class="mud-input-control-input-container">
                                <div class="mud-input mud-input-text mud-input-underline mud-shrink">
                                    <select @bind="filterComparitorStr" class="mudReplacement" required>
                                        <option value="" disabled selected hidden>is...</option>
                                        @if (FilterProperty != null)
                                        {
                                            foreach (var fc in filterManager.GetComparitors(FilterProperty))
                                            {
                                                <option value="@fc.Value">@fc.Key</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th colspan="2">
                        @switch (FilterProperty.PropertyType)
                        {
                            case FilterPropertyType.Boolean:
                                {
                                    <MudSelect Value="filterValue" OffsetY="true">
                                        <MudSelectItem Value="@("True")" />
                                        <MudSelectItem Value="@("False")" />
                                    </MudSelect>
                                }
                                break;
                            case FilterPropertyType.DateTime:
                                {
                                    <MudDatePicker @bind-Text="filterValue" placeholder="something" />
                                }
                                break;
                            case FilterPropertyType.String:
                                {
                                    <MudTextField T="string" @bind-Text="filterValue" Placeholder="something" />

                                }
                                break;
                            case FilterPropertyType.Number:
                                {
                                    <MudNumericField T="decimal" @bind-Value="filterIntValue" Placeholder="something" />
                                }
                                break;
                            case FilterPropertyType.Enum:
                                {
                                    var filterValueResults = radarrService.GetValuesForPropertyAsync(filterPropertyStr).Result;

                                    if (filterValueResults.Success)
                                    {
                                        <MudSelect @bind-Value="filterValue" MultiSelection="true" Required="true" @bind-SelectedValues="filterValues">
                                            @foreach (var key in filterValueResults.Results)
                                                            {
                                                <MudSelectItem Value="@key" />
                                                            }
                                        </MudSelect>
                                    }
                                    else
                                    {
                                        <MudText Color="Color.Error">@filterValueResults.ErrorString</MudText>
                                    }

                                    break;
                                }
                        }
                    </th>
                    <th class="hide">
                        <MudButton OnClick="addFilter" Color="Color.Primary" StartIcon="@Icons.Outlined.Add">@newFilterTextButton</MudButton>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dlf in dlFilters)
                {
                    <tr>
                        <DLFilter filter="dlf" OnDeleteFilter="deleteFilter" OnFilterUpdate="filterUpdate" />
                        <td>
                            <MudButton OnClick="(() => groupFilter(dlf))" Color="Color.Primary" StartIcon="@Icons.Outlined.Add">or</MudButton>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </MudPaper>

    @if (dlFilters.Any())
    {
        <MudToolBar>
            @if (showSaveDialog)
            {
                <MudTextField @bind-Value="filterName" Label="Name" />
            }
            <MudButton OnClick="saveFilter" Color="Color.Primary" StartIcon="@Icons.Outlined.Save">Save</MudButton>
            <MudButton OnClick="clearFilters" Color="Color.Warning" StartIcon="@Icons.Outlined.Clear">Clear</MudButton>
            <MudButton OnClick="deleteSavedFilter" Color="Color.Error" StartIcon="@Icons.Outlined.Delete" Disabled="JobManager.FilterInUse(filterID)">Delete</MudButton>
            <MudSpacer></MudSpacer>
        </MudToolBar>
    }
    <MudTable Items="movies" Dense="true" Striped="true" Hover="true" @ref="table">
        <HeaderContent>
            <MudTh>Info</MudTh>

            @foreach (var p in filterManager.RadarrTableColumns)
            {
                <MudTh title="@p.Key" @ondblclick="@(() => filterOn(p.FilterOn))">@p.Name</MudTh>
            }
        </HeaderContent>
        <RowTemplate>
            <MovieView movie="@context" filterManager="filterManager" OnFilterBy="filterBy" OnUpdate="@(async () => await InvokeAsync(StateHasChanged))" />
        </RowTemplate>
        <ChildRowContent>
            @if (context.ShowInfo)
            {
                <MudTr>
                    <td colspan="99">
                        @if (context.FFProbeMediaInfo != null)
                        {
                            <MudCard>
                                <MudBlazor.MudCardContent>
                                    <MudTreeView Dense="true" ExpandOnClick="true" Items="@context.FFProbeTreeView" Context="mediaInfo">
                                        <ItemTemplate>
                                            <MudTreeViewItem @bind-Expanded="@mediaInfo.IsExpanded" Items="@mediaInfo.TreeItems" Text="@($"{mediaInfo.Title.Humanize(LetterCasing.Title)}{mediaInfo.Value.Wrap(": {0}")}")" />
                                        </ItemTemplate>
                                    </MudTreeView>
                                </MudBlazor.MudCardContent>
                            </MudCard>
                        }
                        else
                        {
                            <MudText Class="pa-2">Probing file&hellip;</MudText>
                        }
                    </td>
                </MudTr>
            }
            @if (context.ShowHistory)
            {
                <MudTr>
                    <td colspan="99">
                        @if (context.MediaHistory != null)
                        {
                            <MudTreeView ExpandOnClick="true" Items="@context.MediaHistory" Context="history">
                                <ItemTemplate>
                                    <MudTreeViewItem @bind-Expanded="@history.IsExpanded" Items="@history.TreeItems" Text="@($"{history.Title}{history.Value.Wrap(": {0}")}")" />
                                </ItemTemplate>
                            </MudTreeView>
                        }
                        else
                        {
                            <MudText Class="pa-2">No history for this video</MudText>
                        }
                    </td>
                </MudTr>
            }
        </ChildRowContent>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{5, 10, 25, 50, 100}" />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {

    private bool showSaveDialog = false;

    private string AlertMessage = null;

    private string filter = "";

    private string newFilterTextButton = "Add";

    private string filterPropertyStr = "Title";
    private string filterComparitorStr = "==";
    private string filterValue;
    private HashSet<string> filterValues = null;

    private decimal filterIntValue
    {
        get
        {
            return decimal.TryParse(filterValue, out var x) ? x : 0;
        }
        set
        {
            filterValue = value.ToString();
        }
    }

    private string filterName = "";

    private Guid _filterID;
    private Guid filterID
    {
        get
        {
            return _filterID;
        }
        set
        {
            _filterID = value;
            if (_filterID != default)
            {
                var filter = filterManager.GetFilter(_filterID);
                if (filter != null)
                {
                    filterName = filter.Name;
                    dlFilters = filter.Filters.ToList().JsonClone();
                    showSaveDialog = true;
                    _ = filterUpdate();
                }
                else
                {
                    clearFilters();
                }
            }
        }
    }
    private MudTable<Movie> table;

    private IEnumerable<Movie> movies = new HashSet<Movie>();

    private FilterProperty FilterProperty => filterManager.RadarrFilterProperties.FirstOrDefault(x => x.Value == filterPropertyStr);
    private FilterComparitor FilterComparitor => filterManager.GetComparitors(FilterProperty).FirstOrDefault(x => x.Value == filterComparitorStr);

    private List<DynamicLinqFilter> dlFilters { get; set; }

    [CascadingParameter]
    private ElementReference divContent { get; set; }

    protected override void OnInitialized()
    {
        dlFilters = new List<DynamicLinqFilter>();

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadMovies();
        }
    }

    private async void addFilter()
    {

        if (FilterProperty != null && FilterComparitor != null && !string.IsNullOrWhiteSpace(filterValue))
        {
            var dlFilter = GetCurrentFilter();


            if (dlFilters.Count == 0)
            {
                dlFilter.IsFirst = true;
            }
            else
            {
                dlFilter.LogicalOperator = "and";
            }

            dlFilters.Add(dlFilter);
            resetFilterInputs();

            await filterUpdate();
        }

    }

    private async void clearFilters()
    {
        dlFilters = new List<DynamicLinqFilter>();
        filterName = null;
        filterID = default;
        await filterUpdate();
    }

    private void filterBy(KeyValuePair<string, object> filter)
    {
        filterPropertyStr = filter.Key;
        filterValue = filter.Value.ToString();
    }

    private void filterOn(string filter)
    {
        filterPropertyStr = filter;
        filterValue = null;
        filterValues = null;
    }

    private DynamicLinqFilter GetCurrentFilter() => new DynamicLinqFilter(FilterProperty, FilterComparitor, filterValue, filterValues);



    private async void groupFilter(DynamicLinqFilter filter)
    {

        if (FilterProperty != null && FilterComparitor != null && !string.IsNullOrWhiteSpace(filterValue))
        {
            var dlFilter = GetCurrentFilter();
            dlFilter.LogicalOperator = "or";

            if (filter.IsGroup)
            {
                filter.SubFilters.Add(dlFilter);
            }
            else
            {
                var cloneFilter = filter.Clone();
                cloneFilter.IsFirst = true;

                filter.SubFilters = new List<DynamicLinqFilter>();
                filter.SubFilters.Add(cloneFilter);
                filter.SubFilters.Add(dlFilter);
                filter.Comparitor = null;
                filter.Property = null;
                filter.Value = null;
                filter.Values = null;
            }

            resetFilterInputs();
            await filterUpdate();
        }
    }

    private async void deleteFilter(DynamicLinqFilter filter)
    {
        if (dlFilters.Contains(filter))
        {
            dlFilters.Remove(filter);
            var firstFilter = dlFilters.FirstOrDefault();
            if (firstFilter != null)
            {
                firstFilter.LogicalOperator = null;
            }
        }
        else
        {
            foreach (var dlFilter in dlFilters)
            {
                if (dlFilter.SubFilters.Contains(filter))
                {
                    dlFilter.SubFilters.Remove(filter);
                    if (dlFilter.SubFilters.Count == 1)
                    {
                        dlFilter.SubFilters.First().LogicalOperator = dlFilter.LogicalOperator;
                        dlFilters.Insert(dlFilters.IndexOf(dlFilter), dlFilter.SubFilters.First());
                        dlFilters.Remove(dlFilter);
                    }
                    break;
                }
            }
        }

        await filterUpdate();
    }

    private async void deleteSavedFilter()
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning",
            "Deleting can not be undone!",
            yesText: "Delete!", cancelText: "Cancel");

        if (result ?? false)
        {
            if (!string.IsNullOrWhiteSpace(filterName))
            {
                await filterManager.DeleteFilter(filterName);
                filterName = null;
                showSaveDialog = false;
                clearFilters();
            }
        }
    }

    private async void saveFilter()
    {
        if (string.IsNullOrWhiteSpace(filterName))
        {
            showSaveDialog = !showSaveDialog;
        }
        else
        {
            var id = await filterManager.AddFilter(dlFilters, filterName, MediaSource.Radarr);
            JobManager.InitialiseJobs(filterManager.GetFilter(id), applicationService.AppStoppingCancellationToken);
        }
    }

    private void resetFilterInputs()
    {
        filterPropertyStr = "Title";
        filterComparitorStr = "==";
        filterValue = null;
    }

    private async Task filterUpdate()
    {
        List<string> filterArguments;

        if (dlFilters.Any())
        {
            filter = filterManager.ConstructFilterQuery(dlFilters, out filterArguments);
            var formatStr = System.Text.RegularExpressions.Regex.Replace(filter, @"@(\d)", "\"{$1}\"");
            newFilterTextButton = "And";
        }
        else
        {
            filter = string.Empty;
            filterArguments = new();
            newFilterTextButton = "Add";
        }

        radarrService.MovieFilter = filter;
        radarrService.MovieFilterValues = filterArguments;

        await RefreshMovies(this, null);

        StateHasChanged();
    }

    private async Task RefreshMovies(object sender, EventArgs e)
    {
        var _result = await radarrService.GetMoviesAsync();
        if (_result.Success)
        {
            movies = _result.Results;
        }
        else
        {
            AlertMessage = _result.ErrorString;
        }

        _ = InvokeAsync(StateHasChanged);
    }

    private async Task LoadMovies()
    {


        using (layoutService.Working("Loading"))
        {
            await RefreshMovies(this, null);

            _ = InvokeAsync(StateHasChanged);
        }
    }

}