@page "/radarr"
@using Compressarr.Filtering;
@using Compressarr.Filtering.Models;
@using Compressarr.Helpers;
@using Compressarr.Pages.Services;

@inject Compressarr.Services.IRadarrService radarrService
@inject IFilterManager filterManager
@inject IJobManager JobManager  
@inject ILayoutService layoutService
@inject IDialogService DialogService

<MudPaper id="divRadarr">
    @if (!string.IsNullOrWhiteSpace(AlertMessage))
    {
        <MudAlert Severity="Severity.Error">@AlertMessage</MudAlert>
    }

    <MudGrid Spacing="1">
        <MudItem sm="11">
            <div class="my-2 filterList">
                <table class="filterTableWrapper">
                    <thead valign="baseline">
                        <tr>
                            <th class="hide">
                            </th>
                            <th>
                                <div class="mud-input-control mud-input-input-control">
                                    <div class="mud-input-control-input-container">
                                        <div class="mud-input mud-input-text mud-input-underline mud-shrink">
                                            <select @bind="filterPropertyStr" required>
                                                @foreach (var fp in filterManager.RadarrFilterProperties.OrderBy(f => f.Key))
                                                {
                                                    <option value="@fp.Value">@fp.Key</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="mud-input-control mud-input-input-control">
                                    <div class="mud-input-control-input-container">
                                        <div class="mud-input mud-input-text mud-input-underline mud-shrink">
                                            <select @bind="filterComparitorStr" required>
                                                <option value="" disabled selected hidden>is...</option>
                                                @if (FilterProperty != null)
                                                {
                                                    foreach (var fc in filterManager.GetComparitors(FilterProperty))
                                                    {
                                                        <option value="@fc.Value">@fc.Key</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th colspan="2">
                                @switch (FilterProperty.PropertyType)
                                {
                                    case FilterPropertyType.Boolean:
                                        {
                                            <MudSelect Value="filterValue" OffsetY="true">
                                                <MudSelectItem Value="@("True")" />
                                                <MudSelectItem Value="@("False")" />
                                            </MudSelect>
                                        }
                                        break;
                                    case FilterPropertyType.DateTime:
                                        {
                                            <MudDatePicker @bind-Text="filterValue" placeholder="something" />
                                        }
                                        break;
                                    case FilterPropertyType.String:
                                        {
                                            <MudTextField T="string" @bind-Text="filterValue" Placeholder="something" />

                                        }
                                        break;
                                    case FilterPropertyType.Number:
                                        {
                                            <MudNumericField T="int" @bind-Value="filterIntValue" Placeholder="something" />
                                        }
                                        break;
                                    case FilterPropertyType.Enum:
                                        {
                                            var filterValueResults = radarrService.GetValuesForProperty(filterPropertyStr).Result;

                                            if (filterValueResults.Success)
                                            {
                                                <MudSelect @bind-Value="filterValue" Required="true">
                                                    @foreach (var key in filterValueResults.Results)
                                                                    {
                                                        <MudSelectItem Value="@key" />
                                                                    }
                                                </MudSelect>
                                            }
                                            else
                                            {
                                                <MudText Color="Color.Error">@filterValueResults.ErrorString</MudText>
                                            }

                                            break;
                                        }
                                }
                            </th>
                            <th class="hide">
                                <MudButton OnClick="addFilter" Color="Color.Primary" StartIcon="@Icons.Outlined.Add">@newFilterTextButton</MudButton>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dlf in dlFilters)
                        {
                            <tr>
                                <DLFilter filter="dlf" OnDeleteFilter="deleteFilter" OnFilterUpdate="filterUpdate" />
                                <td>
                                    <MudButton OnClick="(() => groupFilter(dlf))" Color="Color.Primary" StartIcon="@Icons.Outlined.Add">or</MudButton>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </MudItem>
        <MudItem sm="1">
            <MudSelect @bind-Value="filterSelected" Label="Filters" OffsetY="true" Immediate="true">
                @foreach (var filter in filterManager.GetFilters(MediaSource.Radarr))
                {
                    <MudSelectItem Value="@filter.Name" />
                }
            </MudSelect>
        </MudItem>
    </MudGrid>
    @if (dlFilters.Any())
    {
        <MudToolBar>
            @if (showSaveDialog)
            {
                <MudTextField @bind-Value="filterName" Label="Name" />
            }
            <MudButton OnClick="saveFilter" Color="Color.Primary" StartIcon="@Icons.Outlined.Save">Save</MudButton>
            <MudButton OnClick="clearFilters" Color="Color.Warning" StartIcon="@Icons.Outlined.Clear">Clear</MudButton>
            <MudButton OnClick="deleteSavedFilter" Color="Color.Error" StartIcon="@Icons.Outlined.Delete" Disabled="JobManager.FilterInUse(filterName)">Delete</MudButton>
            <MudToolBarSpacer></MudToolBarSpacer>
        </MudToolBar>
    }
    <MudTable Items="movies" Dense="true" Striped="true" Hover="true" @ref="table">
        <HeaderContent>
            @foreach (var p in filterManager.RadarrTableColumns)
            {
                <MudTh title="@p.Key" @ondblclick="@(() => filterOn(p.FilterOn))">@p.Name</MudTh>
            }
        </HeaderContent>
        <RowTemplate>
            <MovieView movie="@context" filterManager="filterManager" OnFilterBy="filterBy" />
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[]{5, 10, 25, 50, 100}" />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private IEnumerable<Compressarr.Services.Models.Movie> Movies { get; set; }
    private int pageSize = 20;
    private int pageNumber = 0;
    private int pageCount = 0;

    private bool showSaveDialog = false;
    private bool showingMovies = false;

    private long movieCount = 0;

    private string AlertMessage = null;

    private string filter = "";
    private string[] filterValues;

    private string newFilterTextButton = "Add";

    private string filterPropertyStr = "title";
    private string filterComparitorStr = "==";
    private string filterValue;

    private int filterIntValue
    {
        get
        {
            return int.TryParse(filterValue, out var x) ? x : 0;
        }
        set
        {
            filterValue = value.ToString();
        }
    }

    private string filterName = "";
    private string filterStr = "";
    private string filterSelected
    {
        get
        {
            return filterName;
        }
        set
        {
            filterName = value;
            var filter = filterManager.GetFilter(filterName);
            if (filter != null)
            {
                dlFilters = filter.Filters.ToList().Clone();
                showSaveDialog = true;
                LoadMovies();
            }
            else
            {
                clearFilters();
            }
        }
    }
    private MudTable<Movie> table;

    private HashSet<Movie> movies = new();

    private FilterProperty FilterProperty => filterManager.RadarrFilterProperties.FirstOrDefault(x => x.Value == filterPropertyStr);
    private FilterComparitor FilterComparitor => filterManager.GetComparitors(FilterProperty).FirstOrDefault(x => x.Value == filterComparitorStr);

    private List<DynamicLinqFilter> dlFilters { get; set; }

    [CascadingParameter]
    private ElementReference divContent { get; set; }

    protected override void OnInitialized()
    {
        dlFilters = new List<DynamicLinqFilter>();

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadMovies();
        }
    }

    private async void addFilter()
    {

        if (FilterProperty != null && FilterComparitor != null && !string.IsNullOrWhiteSpace(filterValue))
        {
            var dlFilter = new DynamicLinqFilter(FilterProperty, FilterComparitor, filterValue);

            if (dlFilters.Count == 0)
            {
                dlFilter.IsFirst = true;
            }
            else
            {
                dlFilter.LogicalOperator = "and";
            }

            dlFilters.Add(dlFilter);
            resetFilterInputs();

            await LoadMovies();
        }

    }

    private async void clearFilters()
    {
        dlFilters = new List<DynamicLinqFilter>();
        filterName = null;
        await LoadMovies();
    }

    private void filterBy(KeyValuePair<string, object> filter)
    {
        filterPropertyStr = filter.Key;
        filterValue = filter.Value.ToString();
    }

    private void filterOn(string filter)
    {
        filterPropertyStr = filter;
        filterValue = null;
    }

    private async void groupFilter(DynamicLinqFilter filter)
    {

        if (FilterProperty != null && FilterComparitor != null && !string.IsNullOrWhiteSpace(filterValue))
        {
            var dlFilter = new DynamicLinqFilter(FilterProperty, FilterComparitor, filterValue);
            dlFilter.LogicalOperator = "or";

            if (filter.IsGroup)
            {
                filter.SubFilters.Add(dlFilter);
            }
            else
            {
                var cloneFilter = new DynamicLinqFilter(filter.Property, filter.Comparitor, filter.Value);
                cloneFilter.IsFirst = true;

                filter.SubFilters = new List<DynamicLinqFilter>();
                filter.SubFilters.Add(cloneFilter);
                filter.SubFilters.Add(dlFilter);
                filter.Comparitor = null;
                filter.Property = null;
                filter.Value = null;
            }

            resetFilterInputs();
            await LoadMovies();
        }
    }

    private async void deleteFilter(DynamicLinqFilter filter)
    {
        if (dlFilters.Contains(filter))
        {
            dlFilters.Remove(filter);
            var firstFilter = dlFilters.FirstOrDefault();
            if (firstFilter != null)
            {
                firstFilter.LogicalOperator = null;
            }
        }
        else
        {
            foreach (var dlFilter in dlFilters)
            {
                if (dlFilter.SubFilters.Contains(filter))
                {
                    dlFilter.SubFilters.Remove(filter);
                    if (dlFilter.SubFilters.Count == 1)
                    {
                        dlFilter.SubFilters.First().LogicalOperator = dlFilter.LogicalOperator;
                        dlFilters.Insert(dlFilters.IndexOf(dlFilter), dlFilter.SubFilters.First());
                        dlFilters.Remove(dlFilter);
                    }
                    break;
                }
            }
        }

        await LoadMovies();
    }

    private async void deleteSavedFilter()
    {
        bool? result = await DialogService.ShowMessageBox(
            "Warning",
            "Deleting can not be undone!",
            yesText: "Delete!", cancelText: "Cancel");

        if (result ?? false)
        {
            if (!string.IsNullOrWhiteSpace(filterName))
            {
                await filterManager.DeleteFilter(filterName);
                filterName = null;
                showSaveDialog = false;
                clearFilters();
            }
        }
    }

    private void saveFilter()
    {
        if (string.IsNullOrWhiteSpace(filterName))
        {
            showSaveDialog = !showSaveDialog;
        }
        else
        {
            filterManager.AddFilter(dlFilters, filterName, MediaSource.Radarr);
        }
    }

    private void resetFilterInputs()
    {
        filterPropertyStr = "title";
        filterComparitorStr = "==";
        filterValue = null;

        pageNumber = 0;
    }

    private async void filterUpdate()
    {
        await LoadMovies();
    }

    private async Task LoadMovies()
    {
        pageSize = 20;

        using (layoutService.Working("Loading"))
        {

            if (dlFilters.Any())
            {
                filter = filterManager.ConstructFilterQuery(dlFilters, out filterValues);
                var formatStr = System.Text.RegularExpressions.Regex.Replace(filter, @"@(\d)", "\"{$1}\"");
                filterStr = string.Format(formatStr, filterValues);
                newFilterTextButton = "And";
            }
            else
            {
                filter = string.Empty;
                newFilterTextButton = "Add";
            }

            Compressarr.Services.Models.ServiceResult<HashSet<Compressarr.Services.Models.Movie>> _result;


            if (string.IsNullOrWhiteSpace(filter))
            {
                _result = await radarrService.GetMoviesAsync();
            }
            else
            {
                _result = await radarrService.GetMoviesFilteredAsync(filter, filterValues);
            }

            if (_result.Success)
            {
                movies = _result.Results;
            }
            else
            {
                AlertMessage = _result.ErrorString;
            }
            StateHasChanged();
        }
    }

}